*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    background-color: #2b2f39;
}
.header{
    background-color: #191e2b;
    color: white;
    text-align: center;
    padding-bottom: 1%;
}
.header-boton{
    background-color: #747e99;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5%;
}

.contenedor-principal{ 
    padding: 2%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cuadrado-imagen{
    height: 430px;
    width: 430px;
    background-color: black;
    display: flex;
    flex-direction: column;
    position: relative;
}
.imagen{
    display: flex;
    flex-grow: 1;
    background-size: cover;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
}
/* .texto-superior, .texto-inferior{
    Para que sea transparente background: transparent; 
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position:static;
     margin-block-end: 1em; 
}  */
.parrafo-texto-superior, .parrafo-texto-inferior{
    font-size: 40px;
    padding: 3%;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}
.parrafo-texto-superior{
    top: 0;
}
.parrafo-texto-inferior{
    bottom: 0;
}
.boton-guardar-imagen{
    margin-top: 1.7%;
    border: none;
    padding: 0.5%;
    cursor:pointer ;
}
.panel-estilado{
    background-color: #151820;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    color: white;
    padding: 1.5%;
    width: 250px;
}
.boton-panel-cierre{
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    color: white;
    background-color: #151820;
    display: none;
}
.contenedor-panel-imagen-fondo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.panel-imagen-fondo-color{
    width: 90%;
}
.contenedor-input-rango{
    display: flex;
    flex-direction: column;
}
input[type='range']{
    appearance: none;
    height: 10px;
    border-radius: 15px;
    margin: 2%;
}
.contenedor-input-rango label{
    font-size: 14px;
}
.panel-titulos-chicos{
    font-size: 17px;
    margin: 2%;
}
.contenedor-boton-restablecer-filtros{
  text-align: center;
    margin-top: 5%;
}
.boton-restablecer-filtros{
    border: none;
    cursor: pointer;
    padding: 2%;
}
.valor-color{
    font-size: 12px;
}
.panel-texto{
    display: none;
}
.titulo-texto, .titulo-imagen{
    text-align: center;
}
.panel-color-y-fondo{
    display: flex;
}
.contenedor-checkbox-label{
    display: flex;
    align-items: center;
    margin: 3% 0;
}
.label-checkbox{
    font-size: 14px;
    margin-left: 3%;
}
.boton-fuente, .boton-contorno{
    padding: 0 3%;
    margin: 2% 0;
}
.fuente-tamanio{
    width: 120px;
}
.tomar-todo-el-ancho{
    width: 100%;
}
